body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('images/back.png');
    background-size: cover;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
#gameCanvas {
    display: none; /* Ocultar el canvas inicialmente */
    margin: 0 auto;
    background-color: black;
}
#score {
    display: none; /* Ocultar el marcador inicialmente */
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
#scoreP1 {
    margin: 10px;
}
#gameOver, #gameWin {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
}
#startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
#logo {
    width: 70%; /* Ajusta el tamaño del logo */
    max-width: 600px; /* Tamaño máximo del logo */
    margin-bottom: 20px;
}
.startButton {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: 2px solid #fff;
    cursor: pointer;
    animation: blink 1s infinite;
    font-family: 'Press Start 2P', cursive;
}
.startButton:hover {
    background-color: #888;
    transform: scale(1.1);
    border-color: #ddd;
}
#gameOver img, #gameWin img {
    width: 400px; /* Ajusta el tamaño de la imagen según sea necesario */
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#gameWin p {
    font-size: 27px; /* Ajusta el tamaño del texto según sea necesario */
    line-height: 1.5; /* Ajusta el interlineado según sea necesario */
}

#gameOver p {
    font-size: 27px; /* Ajusta el tamaño del texto según sea necesario */
    line-height: 1.5; /* Ajusta el interlineado según sea necesario */
}

/* Media Query */

@media only screen and (max-width: 768px){
body, html {
    background-size: auto;
    background-repeat: no-repeat;
}
#gameOver, #gameWin {
    top: 30%;
}
#gameOver img, #gameWin img {
    width: 300px;
}
#gameOver p, #gameWin p {
    font-size: 15px;
}
#score {
    font-size: 12px;
}
.controls {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: manipulation;
  }
}